<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <com.parasoft.environmentmanager.EnvironmentManagerBuilder plugin="environment-manager@1.0-SNAPSHOT">
      <environmentId>129</environmentId>
      <instanceId>46</instanceId>
      <abortOnFailure>true</abortOnFailure>
    </com.parasoft.environmentmanager.EnvironmentManagerBuilder>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>